body {
    font-family: 'Raleway', sans-serif;

    animation: colorchange 10s ease infinite;
}

@keyframes colorchange
 {
   0% {background: ivory;}
  25% {background: cornsilk;}
  50% {background: papayawhip;}
  75% {background: cornsilk;}
  100% {background: ivory;}
}

header {
  display: block;
  max-width: 100%;
  margin:10px auto;
  text-align: center;
  font-size: 2.5em;
  position: static;
  animation: colorchange 10s ease infinite;@keyframes colorchange
   {
     0% {background: ivory;}
    25% {background: cornsilk;}
    50% {background: papayawhip;}
    75% {background: cornsilk;}
    100% {background: ivory;}
  }

}
img{
max-width: 100%;
display: grid;
margin: 0px auto;
}

p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}

.ingredients {
  display: grid;
  repeat(auto-fit, minmax(500px, 2fr 1fr));
  grid-column-gap: 1%;
  margin: 20px 20px 20px 20px;

}


article {
  display: block;
  align-content: center;
  padding: 10px;
  font-size: 1em;
  max-width: 100%;

}

h2 {
  font-size: 3em;
  text-align: center;
}

ul {
  font-size: 3em;
  text-align: center;
  list-style-type: none;
  max-width: 100%;
  line-height: 1em;
  background-color: inherit;
  padding: 0px;


}

a {
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

#logo{
max-width: 250px;
display: block;
margin: 10px auto;
}

nav{
  display: grid;
  /* Change previous grid */
  grid-auto-flow: column;
  grid-gap: 2%;
  padding:2% auto;
  font-size: 3em;
}

nav a{
  margin: 20px auto;
  text-decoration: none;
  color: #322311;
  font-weight: normal;
  font-size: 30%;

}






@media only screen and (min-width:1000px){
    /* ---- Desktop styles below ---- */








          header {
            display: block;
            max-width: 100%;
            margin:10px auto;
            text-align: center;
            font-size: 4em;
            position: static;
            animation: colorchange 10s ease infinite;@keyframes colorchange
             {
               0% {background: ivory;}
              25% {background: cornsilk;}
              50% {background: papayawhip;}
              75% {background: cornsilk;}
              100% {background: ivory;}
            }

          }

          nav{
            display: grid;
            /* Change previous grid */
            grid-auto-flow: column;
            grid-gap: 2%;
            padding:2% auto;
            font-size: 3em;
          }

          nav a{
            margin: 20px auto;
            text-decoration: none;
            color: #322311;
            font-weight: normal;
            font-size: 50%;

          }
